<section class="main-screen-home" style="background: url(/uploads/assets/img/main-screen-home/background.png); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="main-screen-home-block">
            <h1 class="main-screen-home__title title">Коммерческая недвижимость в Москве</h1>
            <span class="main-screen-home__subtitle">Поиск по 7000+ объектам Москвы и Московской области</span>
            <div class="tabs" id="tabs-card-a">
                <div class="tabs-open">
                    <div class="tabs__nav tabs__nav-computer">
                        <button class="tabs__btn tabs__btn_active">Офисы</button>
                        <button class="tabs__btn">Склады</button>
                        <button class="tabs__btn">ПСН</button>
                        <button class="tabs__btn">Торговая</button>
                        <button class="tabs__btn">ГАБ</button>
                    </div>
                </div>
                <div class="tabs__content">
