<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="service__title section-title">Наши услуги</h2>
            </div>
        </div>
        <div class="row service__content">
            <div class="col-12">
                <div class="service__stroke">
                    <h3 class="service__name subtitle">Арендаторам/Покупателям</h3>
                    <div class="service__line"></div>
                </div>
                <div class="service__stroke">
                    <h3 class="service__name subtitle">Собственникам</h3>
                    <div class="service__line"></div>
                </div>
                <div class="service__stroke">
                    <h3 class="service__name subtitle">Инвесторам</h3>
                    <div class="service__line"></div>
                </div>
            </div>
        </div>
    </div>
</section>
