<section class="form">
    <div class="container">
        <div class="form-block">
            <div class="form-block-left">
                <div class="form-block-left-content">
                    <span class="form-block-left-content__title">Быстрый подбор недвижимости</span>
                    <span class="form-block-left-content__subtitle">Пришлем в течение 30 минут</span>
                    <input type="text" placeholder="Имя" class="form-block-left-content__input">
                    <input type="text" placeholder="Телефон" class="form-block-left-content__input">
                    <input type="text" placeholder="Эл. почта" class="form-block-left-content__input">
                    <div class="form-block-left-content-agreement">
                        <div class="form-block-left-content-agreement-check">
                            <input type="checkbox" id="add-to-collection-1" name="add-to-collection-1"
                                   value="yes" class="form-block-left-content-agreement-check__checkbox">
                            <label for="add-to-collection-1"
                                   class="form-block-left-content-agreement-check-label">
										<span class="form-block-left-content-agreement-check-label__text">Я согласен<br>
											<a href="">
												с политикой обработки персональных данных</a></span>
                            </label>
                        </div>
                        <button class="form-block-left-content-agreement__btn btn-1">Отправить</button>
                    </div>
                </div>
            </div>
            <div class="form-block-right box">
                <picture><source srcset="/uploads/assets/img/form/request.webp" type="image/webp"><img src="/uploads/assets/img/form/request.png" alt="Изображение" class="form-block-right__img"></picture>
            </div>
        </div>
    </div>
</section>
