<section class="direction">
    <div class="container">
        <div class="direction-block">
            <div class="direction-block-top">
                <a href="" class="direction-block-top-card box">
                    <picture><source srcset="/uploads/assets/img/direction/office.webp" type="image/webp"><img src="/uploads/assets/img/direction/office.png" alt="Офис" class="direction-block-top-card__img"></picture>
                    <span class="direction-block-top-card__text">Офисы</span>
                </a>
                <a href="" class="direction-block-top-card box">
                    <picture><source srcset="/uploads/assets/img/direction/stock.webp" type="image/webp"><img src="/uploads/assets/img/direction/stock.png" alt="Склад" class="direction-block-top-card__img"></picture>
                    <span class="direction-block-top-card__text">Склады</span>
                </a>
            </div>
            <div class="direction-block-bottom">
                <a href="" class="direction-block-bottom-card box">
                    <picture><source srcset="/uploads/assets/img/direction/pcn.webp" type="image/webp"><img src="/uploads/assets/img/direction/pcn.png" alt="ПСН" class="direction-block-bottom-card__img"></picture>
                    <span class="direction-block-bottom-card__text">ПСН</span>
                </a>
                <a href="" class="direction-block-bottom-card box">
                    <picture><source srcset="/uploads/assets/img/direction/gap.webp" type="image/webp"><img src="/uploads/assets/img/direction/gap.png" alt="ГАБ" class="direction-block-bottom-card__img"></picture>
                    <span class="direction-block-bottom-card__text">ГАБ</span>
                </a>
                <a href="" class="direction-block-bottom-card box">
                    <img src="/uploads/assets/img/direction/trading.png" alt="Торговля"
                         class="direction-block-bottom-card__img">
                    <span class="direction-block-bottom-card__text">Торговая</span>
                </a>
            </div>
        </div>
    </div>
</section>
