<section class="offer">
    <div class="container">
        <h2 class="offer-title section-title">Получите лучшие предложения прямо сейчас</h2>
    </div>
    <div class="offer-content">
        <div class="container">
            <h3 class="offer-content__title">Выберите что вас интересует:</h3>
            <div class="offer-content-block">
                <a href="#" class="offer-content-block-card">
                    <span class="offer-content-block-card__text">Аренда</span>
                </a>
                <a href="#" class="offer-content-block-card">
                    <span class="offer-content-block-card__text">Покупка</span>
                </a>
                <a href="#" class="offer-content-block-card">
                    <span class="offer-content-block-card__text">Инвестиции</span>
                </a>
                <a href="#" class="offer-content-block-card">
                    <span class="offer-content-block-card__text">Услуги</span>
                </a>
                <span class="offer-content-block-numbers">01</span>
            </div>
        </div>
    </div>
</section>
