<section class="main-screen-home" style="background: url('/uploads/assets/img/main-screen-home/background.png'); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="main-screen-home-block">
            <h1 class="main-screen-home__title title">Коммерческая недвижимость в Москве</h1>
            <span class="main-screen-home__subtitle">Поиск по 7000+ объектам Москвы и Московской области</span>
            {{ croogo_region alias = "twig_realty_filter" }}
        </div>
    </div>
</section>
<section class="direction">

</section>
{{ croogo_region alias = "twig_realty_popular" }}
<section class="service">

</section>
{{ croogo_region alias = "twig_realty_form_create_bid" }}
